html, body {
    min-height: 100%;    
}

body {
    padding: 70px;
    background: url("/img/wap.jpg") repeat center fixed; 
    color: black;
    background-size: cover;
    height: 40%;
}

#navbar{
    border-color: #000;
    background-color: #f6f6ef;
    border-style:solid;
    border-bottom: 2px solid black;
    color:black;
}


.btn, a.btn , #btn ,#apiBtn{
    background-color: skyblue;
    border-color: #000;
    color:black;
    width: 175px;
    height: 40px;
} 

#home {
    height: 100%;   
}

#scrapeBtn {
    text-align: right;
    float:right;
}

#text{
    background-color:#f6f6ef;
}

.navbar-brand{
    font-weight: bold;
    
} 

a:hover,a:visited,a:link ,#scrapeBtn ,a { color:#000; } 